<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>993959153580-245drudv23uah4fj96suon8svg4emoml.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.993959153580-245drudv23uah4fj96suon8svg4emoml</string>
	<key>API_KEY</key>
	<string>AIzaSyDuHa24f4bP9wu9BlU6faK9HHzy-2gvxxM</string>
	<key>GCM_SENDER_ID</key>
	<string>993959153580</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.naga.imageupload</string>
	<key>PROJECT_ID</key>
	<string>imageupload-5cb8b</string>
	<key>STORAGE_BUCKET</key>
	<string>imageupload-5cb8b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:993959153580:ios:82634e3812aa0cf9e53409</string>
</dict>
</plist>